name: Run tests

on:
  push:
    branches:
      - master
      - '*.x'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    name: PHP ${{ matrix.php }} - Laravel ${{ matrix.laravel }} - ${{ matrix.dependency-version }}

    strategy:
      fail-fast: true
      matrix:
        php: [7.4, 8.0, 8.1, 8.2]
        laravel: [8.*, 9.*]
        dependency-version: [prefer-stable]
        include:
          - laravel: 8.*
            testbench: 6.*
          - laravel: 9.*
            testbench: 7.*
        exclude:
          - laravel: 8.*
            php: 8.2
          - laravel: 9.*
            php: 7.4

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2, phpunit

      - name: Install dependencies
        run: |
          composer require "orchestra/testbench:${{ matrix.testbench }}" --dev --no-interaction --no-update
          composer update --${{ matrix.dependency-version }} --no-interaction --no-progress

      - name: Execute tests
        run: vendor/bin/phpunit

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
